repos:
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        types: [python]
        stages: [pre-commit]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]

      - id: bandit
        name: bandit
        entry: uv run bandit -r src scripts --skip B101,B105,B106,B404,B603
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]
        always_run: true
